#home {
	.info-materia {
		width: 1170px;
		margin: 0 auto;
		.cita {
			a {
				text-decoration: none;
				color: inherit;
				font-style: italic;
			}
		}
	}
	.perfil-alumno {
		display: flex;
		flex-wrap: wrap;
		width: 1170px;
		margin: 0 auto;
		align-items: center;
		h1 {
			width: 100%;
		}
		.avatar {
			width: 300px;
			border-radius: 50%;
			border: 10px solid #fff;
			overflow: hidden;
		}
		.info {
			padding-left: 3em;
		}
	}
	.lista-actividades {
		width: 1170px;
		margin: 2em auto;
		.actividad {
			width: 100%;
			margin: 2px 0;
			h3 {
				margin: 0;
				padding: 10px;
				background-color: #FF851B;
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				align-items: center;
				cursor: pointer;
				i {
					-webkit-transform: rotate(0deg);
					-moz-transform: rotate(0deg);
					-o-transform: rotate(0deg);
					transform: rotate(0deg);
					-webkit-transition: .5s ease-in-out;
					-moz-transition: .5s ease-in-out;
					-o-transition: .5s ease-in-out;
					transition: .5s ease-in-out;
				}
				.open {
					-webkit-transform: rotate(180deg);
					-moz-transform: rotate(180deg);
					-o-transform: rotate(180deg);
					transform: rotate(180deg);
					-webkit-transition: .5s ease-in-out;
					-moz-transition: .5s ease-in-out;
					-o-transition: .5s ease-in-out;
					transition: .5s ease-in-out;
				}
			}
			.content {
				display: none;
				padding: 2em 1em;
				p {
					margin: 0;
				}
				a {
					margin-top: 1em;
					display: inline-block;
					padding: 10px;
					text-decoration: none;
					color: #fff;
					background-color: #0074D9;
					transition: ease .5s;
					border: 2px solid #0074D9;
					&:hover {
						background: transparent;
						color: #0074D9;
					}
				}
			}
		}
	}
}