doctype
html
	head
		include include/_head
	body#actividad
		include include/_header
		.container
			h1 Actividad 04
			p.objetivo 
				strong Objetivo: 
				| Instalar Java y desarrollar un punto de venta básico que funcione en Windows y Linux
			.indicadores
				p.indica.primero.active Windows
				p.indica.segundo Linux
			.slide-so
				.so
					h2 Windows
					p Java es un lenguaje de programación y una plataforma informática comercializada por primera vez en 1995 por Sun Microsystems. Hay muchas aplicaciones y sitios web que no funcionarán a menos que tenga Java instalado y cada día se crean más. Java es rápido, seguro y fiable. Desde portátiles hasta centros de datos, desde consolas para juegos hasta súper computadoras, desde teléfonos móviles hasta Internet, Java está en todas partes.
					p Para instalar Java en Windows, existe un instalador que nos permite instalarlo de manera sencilla.
					p Lo primero que tenemos que hacer es descargarlo, entrando al siguiente 
						a(href="https://www.java.com/es/download/faq/whatis_java.xml" target="_blank") link
						| , y dando click en "Aceptar e iniciar descarga gratuita"
					img(src="img/actividad_04/01.jpg")
					p Una vez que le demos click, nos descargará un instalador, esperamos que termine de descargarse y damos click en el para abrirlo
					img(src="img/actividad_04/02.jpg")
					p Una vez abierto el instalador, nos señalará ciertas condiciones, solo damos click en "Instalar"
					img(src="img/actividad_04/03.jpg")
					p Ya que demos click en "Instalar", nos mostrará una barra de carga donde descargará la versión más reciente de Java
					img(src="img/actividad_04/04.jpg")
					p Una vez descargado, comenzará la instalación de Java
					img(src="img/actividad_04/05.jpg")
					p La instalación de Java habrá finalizado cuando la barra de progreso desaparezca
					p Si por alguna razón ya tenías instalada alguna versión obsoleta de Java, el instalador te mostrará las versiones de Java obsoletas y puedes tener la opción de desinstalarlas (Recomendado)
					img(src="img/actividad_04/06.jpg")
					p Una vez desinstalado las versiones obsoletas, nos señalará lo que se ha desinstalado y daremos click en "Siguiente"
					img(src="img/actividad_04/07.jpg")
					p En la siguiente pantalla nos mostrará que Java se ha instalado de manera correcta y que ya podemos cerrar el instalador. Damos click en "Cerrar"
					img(src="img/actividad_04/08.jpg")
				.so
					h2 Linux
					p Java es un lenguaje de programación y una plataforma informática comercializada por primera vez en 1995 por Sun Microsystems. Hay muchas aplicaciones y sitios web que no funcionarán a menos que tenga Java instalado y cada día se crean más. Java es rápido, seguro y fiable. Desde portátiles hasta centros de datos, desde consolas para juegos hasta súper computadoras, desde teléfonos móviles hasta Internet, Java está en todas partes.
					p Para instalar Java en Linux, existe un paquete que podemos extraer directamente de la página oficial
					img(src="img/actividad_04/09.png")
					p Lo primero que tenemos que hacer es ir al siguiente 
						a(href="https://www.java.com/es/download/linux_manual.jsp" target="_blank") link
						| Y elegir el paquete que mejor nos convenga, en este caso elegiremos 'Linux x64'
					img(src="img/actividad_04/10.png")
					p Una vez descargado, nos iremos a la carpeta en la que se ubica
					img(src="img/actividad_04/11.png")
					p Ya que estemos ahí, moveremos el paquete a la dirección 
						code /java/
					p Si no se encuentra la carpeta, la creamos
					img(src="img/actividad_04/12.png")
					p Una vez ubicado el paquete en esa dirección, procederemos a abrir la terminal y posicionarnos en la misma dirección
					img(src="img/actividad_04/13.png")
					p Ya que estemos ahí, procederemos a escribir el siguiente comando
					img(src="img/actividad_04/14.png")
					p Daremos enter y se desempaquetará el archivo
					img(src="img/actividad_04/15.png")
					p Una vez desempaquetados nos meteremos a la carpeta que se desempaquetó y nos mostrará los archivos. Esos archivos son los que harán funcionar Java
					img(src="img/actividad_04/16.png")

		include include/_footer