doctype
html
	head
		include include/_head
	body#actividad
		include include/_header
		.container
			h1 Actividad 07
			p.objetivo 
				strong Objetivo: 
				| Desarrolla un pequeño videojuego en windows y linux
			.indicadores
				p.indica.primero.active Windows
				p.indica.segundo Linux
			.slide-so
				.so
					h2 Windows
				.so
					h2 Linux

		include include/_footer