doctype
html
	head
		include include/_head
	body#actividad
		include include/_header
		.container
			h1 Actividad 09
			p.objetivo 
				strong Objetivo: 
				| Instalar un mínimo de 10 usuarios y crear al menos 4 grupos de usuarios
			//-.indicadores
				p.indica.primero.active Windows
				p.indica.segundo Linux
			.slide-so
				.so
					p 
					img(src="img/actividad_09/01.jpg")
		include include/_footer