doctype
html
	head
		include include/_head
	body#actividad
		include include/_header
		.container
			h1 Actividad 08
			p.objetivo 
				strong Objetivo: 
				| Instala Windows Server y destaca las características de 'Active directory' y ejemplos
			//-.indicadores
				p.indica.primero.active Windows
				p.indica.segundo Linux
			.slide-so
				.so
					h2 Windows Server
					p Windows Server Standard es un sistema operativo de servidor que permite a un equipo manejar funciones de red como servidor de impresión, controlador de dominio, servidor web y servidor de archivos. Como sistema operativo para servidores, también existe la plataforma para aplicaciones de servidor que se pueden adquirir por separado, como Exchange Server o SQL Server. La edición estándar está diseñada para organizaciones pequeñas y medianas con entornos de servidores físicos o ligeramente virtualizados.
					p Una vez corremos el sistema operativo, nos preguntará los idiomas a elegir
					img(src="img/actividad_08/01.jpg")
					p Después nos aparecerá una ventana con el botón de "Instalar Ahora", daremos click ahí
					img(src="img/actividad_08/02.jpg")
					p Una vez dado click ahí, nos aparecerá una pantalla de carga, esperaremos a que termine de cargar los archivos
					img(src="img/actividad_08/03.jpg")
					p Una vez cargado la información nos preguntarpa el tipo de sistema operativo que deseamos instalar. La segunda opción es la que mejor se acomoda a nuestras necesidades, por lo que seleccionaremos esa opción
					img(src="img/actividad_08/04.jpg")
					p Después de seleccionar el sistema operativo, aceptamos los términos y condiciones y damos en "Siguiente"
					img(src="img/actividad_08/05.jpg")
					p Ahora, nos preguntará el tipo de instalación que deseamos tener. En nuestro caso, necesitamos instalarlo en una partición de nuestro disco duro, por lo que elegiremos la personalizada.
					img(src="img/actividad_08/06.jpg")
					p Una vez dado "Siguiente" nos señalará las particiones que tengamos y nos dejará elegir la que deseamos. Seleccionamos nuestra partición.
					img(src="img/actividad_08/07.jpg")
					p Una vez seleccionado nuestra partición, comenzará la instalación de nuestro sistema operativo.
					img(src="img/actividad_08/08.jpg")
					p El sistema se reiniciará repetidas veces y aparecerá una pantalla como la siguiente
					img(src="img/actividad_08/09.jpg")
					p Después de terminar de cargar, empezaremos a configurar nuestro sistema operativo, lo primero será agregar un usuario y su contraseña.
					img(src="img/actividad_08/10.jpg")
					p Después de eso, cargará la siguiente pantalla, donde estará una pantalla de espera, eso significará que nuestro sistema operativo se ha instalado correctamente.
					img(src="img/actividad_08/11.jpg") 



					//Características de Active Directory

					h2 Active directory
					p Algunas características son:
					ul
						li 
							b Active Directory Structure
							br
							| Una característica clave de la estructura de Active Directory es la autorización delegada y la replicación eficiente. Cada parte de la estructura organizativa de AD limita la autorización o la replicación dentro de esa subparte en particular.
						li
							b Controladores de dominio
							br
							| Los controladores de dominio son servidores de Windows que contienen la base de datos de Active Directory y ejecutan funciones relacionadas con AD, como la autenticación y la autorización. Un controlador de dominio es cualquier servidor Windows que cuente con la función de controlador de dominio instalada.
						li
							b Sistema de nombres de dominio
							br
							| Aunque Active Directory contiene información de ubicación sobre los objetos almacenados en la base de datos, utiliza el sistema de nombres de dominio (DNS) para situar los controladores de dominio. Dentro de Active Directory, cada dominio tiene un nombre de dominio DNS y cada ordenador que forma parte del dominio cuenta con un nombre DNS dentro del mismo.
						li
							b Replicación
							br
							| Active Directory utiliza diversos controladores de dominio por múltiples razones, incluido el equilibrio de carga y la tolerancia a fallos. Para que esto funcione, cada controlador de dominio debe disponer de una copia completa de la propia base de datos de Active Directory de su dominio. La replicación es el proceso que garantiza que cada controlador cuente con una copia actualizada de la base de datos.


		include include/_footer