doctype
html
	head
		include include/_head
	body#actividad
		include include/_header
		.container
			h1 Actividad 11
			p.objetivo 
				strong Objetivo: 
				| Instalar Linux Server y configurar 10 usuarios, configurar 4 grupos de usuarios
			.indicadores
				p.indica.primero.active Windows
				p.indica.segundo Linux
			.slide-so
				.so
					h2 Windows
				.so
					h2 Linux

		include include/_footer