doctype
html
	head
		include include/_head
	body#actividad
		include include/_header
		.container
			h1 Actividad 05
			p.objetivo 
				strong Objetivo: 
				| Instalsr Django con Python y Laravel y desarrollar una aplicación básica
			.indicadores
				p.indica.primero.active Windows
				p.indica.segundo Linux
			.slide-so
				.so
					h2 Windows
					p Laravel es un Framework de PHP muy utilizado en la industria de las aplicaciones web.
					p Su uso permite facilitar al programador su tarea de desarrollo y facilita la modificación de código con una organización eficiente.
					p Para instalar en Windows lo que se necesita es tener Composer instalado.
					p Composer es un paquete de instalación de diferentes módulos de PHP
					p Para instalarlo entraremos a la siguiente 
						a(href="https://getcomposer.org/doc/00-intro.md#installation-windows" target="_blank") liga
						| . Descargamos y Ejecutamos el instalador.
					p Una vez instalado procederemos a ejecutar el siguiente comando desde la consola
					img(src="img/actividad_05/01.jpg")
					p Damos enter y comenzará la instalación de Laravel.
					p una vez instalado, nos aparecerá la siguiente pantalla
					img(src="img/actividad_05/02.jpg")
					p Ya que se haya instalado, para iniciar una aplicación en Laravel, escribiremos el siguiente comando en la consola.
					img(src="img/actividad_05/03.jpg")
					p Una vez terminado de crear la aplicación, podemos iniciar el servidor siguiendo las instrucciones de la documentación de Laravel que puedes ver en la siguiente 
						a(href="https://laravel.com/" target="_blank") liga.
					p Ya que hayamos hecho todo de manera correcta, procederemos a abrir el navegador y nos aparecerá la siguiente pantalla, la cual es nuestra aplicacíón de Laravel
					img(src="img/actividad_05/04.jpg")
					p Django es un framework parecido a Laravel pero de Python. Enfocado al desarrollo de aplicaciones web, Django permite explorar otro entorno de desarrollo.
					p Para instalar Django, tenemos que tener instalado Python 3 y un instalador de paquetes llamado 'pip'.
					img(src="img/actividad_05/python/01.jpg")
					p Una vez instalado, podemos correr los comandos de Django para crear un proyecto nuevo, corremos el siguiente comando
					img(src="img/actividad_05/python/02.jpg")
					p Ya que corrimos ese comando, nos creará nuestra aplicación en Django, simplemente creamos nuestro ambiente de trabajo y corremos el servidor con los respectivos comandos. Una vez creado el servidor procederemos a visualizarlo por medio del navegador
					img(src="img/actividad_05/python/03.jpg")

				.so
					h2 Linux
					p Laravel es un Framework de PHP muy utilizado en la industria de las aplicaciones web.
					p Su uso permite facilitar al programador su tarea de desarrollo y facilita la modificación de código con una organización eficiente.
					p Para instalar en Linux lo primero que tenemos que instalar es PHP 7.2 o superior y composer, como en Windows
					p Una vez corrido ese comando, el sistema contará con los paquetes de composer necesario para instalar Laravel.
					p Escribimos el siguiente comando
					img(src="img/actividad_05/01.png")
					p Ejecutamos el comando y esperamos a que se Instale Laravel
					img(src="img/actividad_05/02.png")
					p Una vez ejecutado el comando, tenemos que editar las variables de entorno para crear nuestro proyecto en Laravel, primero corremos el siguiente comando
					img(src="img/actividad_05/03.png")
					p Y una vez dentro del archivo, entramos

		include include/_footer