doctype
html
	head
		include include/_head
	body#actividad
		include include/_header
		.container
			h1 Actividad 10
			p.objetivo 
				strong Objetivo: 
				| Instala un sistema en WS con Django con base de datos y uno en Ruby on Rails con bases de datos y asignar diferentes permisos de acceso a los grupos de usuarios en cada sistema
			.indicadores
				p.indica.primero.active Django
				p.indica.segundo Ruby on Rails
			.slide-so
				.so
					h2 Django
					img(src="img/actividad_10/01.jpg")

				.so
					h2 Ruby on Rails

		include include/_footer