doctype
html
	head
		include include/_head
	body#actividad
		include include/_header
		.container
			h1 Actividad 12
			p.objetivo 
				strong Objetivo: 
				| Instalar un sistema en Linux Server con Django con bases de datos y uno en Ruby con rails con bases de datos y asignar diferentes permisos de acceso a los grupos de usuarios en cada sistema.
			.indicadores
				p.indica.primero.active Windows
				p.indica.segundo Linux
			.slide-so
				.so
					h2 Windows
				.so
					h2 Linux

		include include/_footer