doctype
html
	head
		include include/_head
	body#actividad
		include include/_header
		.container
			h1 Actividad 02
			p.objetivo 
				strong Objetivo: 
				| Desarrollar un programa para ver los servicios de Windows y Linux
			.indicadores
				p.indica.primero.active Windows
				p.indica.segundo Linux
			.slide-so
				.so
					h2 Windows
					p Libre Office es un paquete de software de oficina libre, el cual nos permite manejar diferentes servicios para facilitar las actividades dentro de la oficina. Y lo mejor de todo, ¡es gratis!
				.so
					h2 Linux

		include include/_footer