doctype
html
	head
		include include/_head
	body#actividad
		include include/_header
		.container
			h1 Actividad 13
			p.objetivo 
				strong Objetivo: 
				| Instalar Samba en Windows y Linux y configurar para compartir caroetas, archivos e impresoras.
			.indicadores
				p.indica.primero.active Windows
				p.indica.segundo Linux
			.slide-so
				.so
					h2 Windows
					p Samba es una implementación de código abierto del protocolo Server Message Block (SMB). Permite la interconexión de redes Microsoft Windows®, Linux, UNIX y otros sistemas operativos juntos, permitiendo el acceso a archivos basados en Windows y compartir impresoras. El uso de Samba de SMB lo hace parecer como un servidor Windows a clientes Windows.
					img(src="img/actividad_13/01.jpg")
				.so
					h2 Linux
					p Samba es una implementación de código abierto del protocolo Server Message Block (SMB). Permite la interconexión de redes Microsoft Windows®, Linux, UNIX y otros sistemas operativos juntos, permitiendo el acceso a archivos basados en Windows y compartir impresoras. El uso de Samba de SMB lo hace parecer como un servidor Windows a clientes Windows.

		include include/_footer