doctype
html
	head
		include include/_head
	body#actividad
		include include/_header
		.container
			h1 Actividad 07
			p.objetivo 
				strong Objetivo: 
				| Desarrolla un pequeño videojuego en windows y linux
			.indicadores
				p.indica.primero.active Windows
				p.indica.segundo Linux
			.slide-so
				.so
					h2 Windows
					p Java es un lenguaje de programación y una plataforma informática comercializada por primera vez en 1995 por Sun Microsystems. Hay muchas aplicaciones y sitios web que no funcionarán a menos que tenga Java instalado y cada día se crean más. Java es rápido, seguro y fiable. Desde portátiles hasta centros de datos, desde consolas para juegos hasta súper computadoras, desde teléfonos móviles hasta Internet, Java está en todas partes.
					p Se anexan algunas capturas de pantalla del juego
					img(src="img/actividad_07/01.jpg")
					img(src="img/actividad_07/02.jpg")
					p Para acceder al código puedes dar clic 
						a(href="https://github.com/josuebraigo/juego_java" target="_blank") aquí
				.so
					h2 Linux
					p p Java es un lenguaje de programación y una plataforma informática comercializada por primera vez en 1995 por Sun Microsystems. Hay muchas aplicaciones y sitios web que no funcionarán a menos que tenga Java instalado y cada día se crean más. Java es rápido, seguro y fiable. Desde portátiles hasta centros de datos, desde consolas para juegos hasta súper computadoras, desde teléfonos móviles hasta Internet, Java está en todas partes.
					p Se anexan algunas capturas de pantalla del juego

					p Para acceder al código puedes dar clic 
						a(href="https://github.com/josuebraigo/juego_java" target="_blank") aquí

		include include/_footer