doctype
html
	head
		include include/_head
	body#actividad
		include include/_header
		.container
			h1 Actividad 02
			p.objetivo 
				strong Objetivo: 
				| Desarrollar un programa para ver los servicios de Windows y Linux
			.indicadores
				p.indica.primero.active Windows
				p.indica.segundo Linux
			.slide-so
				.so
					h2 Windows
					p Libre Office es un paquete de software de oficina libre, el cual nos permite manejar diferentes servicios para facilitar las actividades dentro de la oficina. Y lo mejor de todo, ¡es gratis!
					p Lo primero que tenenos que hacer es ingresar al siguiente 
						a(href="https://es.libreoffice.org/" target="_blank") link
					p Una vez en el link damos click en "Descargar"
					img(src="img/actividad_03/01.jpg")
					p Ya que hayamos dado click, nos permitirá seleccionar nuestro sistema operativo, en este caso elegiremos Windows con la arquitectura que tengamos.
					img(src="img/actividad_03/02.jpg")
					p Ya que lo seleccionemos, nos descargará un paquete de windows que abrirá un instalador
					img(src="img/actividad_03/03.jpg")
					p Seleccionamos el tipo de instalación que necesitemos, lo más recomendable es la instalación "típica"
					img(src="img/actividad_03/04.jpg")
					p Una vez seleccionado, nos aparecerá una barra de progreso, que nos señalará cuando nuestro software haya sido instalado correctamente
					img(src="img/actividad_03/05.jpg")
					p Ya que se haya instalado, nos aparecerá una ventana donde nos menciona que ya se ha instalado de manera correcta, y procederá a cerrarse esa ventana
					img(src="img/actividad_03/06.jpg")
					p Para comprobar que se haya instalado correctamente, nos vamos al icono de Windows y entraremos al listado de los programas. Si se instaló todo bien, nos aparecerá el listado en Todos los Programas
					img(src="img/actividad_03/07.jpg")

				.so
					h2 Linux
					p Libre Office es un paquete de software de oficina libre, el cual nos permite manejar diferentes servicios para facilitar las actividades dentro de la oficina. Y lo mejor de todo, ¡es gratis!
					p Lo primero que tenemos que hacer es ir a la Tienda de programas de Ubuntu
					img(src="img/actividad_03/08.jpg")
					p Una vez dentro de la tienda, daremos click en la lupa para hacer una busqueda. La lupa se encuentra del lado derecho en la parte superior
					img(src="img/actividad_03/09.jpg")
					p Lo siguiente será buscar el paquete de Libre office, escribiendo el nombre en la barra de búsqueda. Después de dar enter, nos enlistará los posibles resultados. Daremos click en el que diga "Libre Office"
					img(src="img/actividad_03/10.jpg.")
					p Seguido a eso, nos mostrará las características del software, así como algunas capturas de pantalla del mismo. Procederemos a dar click en "Instalar"
					img(src="img/actividad_03/11.jpg")
					p En el momento que demos click en "Instalar", nos aparecerá una barra de progreso que nos mostrará cuando la instalación finalice.
					img(src="img/actividad_03/12.jpg")
					p Ya que se haya instalado correctamente nos aparecerá una serie de botones que nos permitirá iniciar el software, desinstalarlo o gestionar los permisos. Si nos aparecen esos botones, significa que la instalación se ha realizado de manera correcta
					img(src="img/actividad_03/13.jpg")

		include include/_footer