doctype
html
	head
		include include/_head
	body#actividad
		include include/_header
		.container
			h1 Actividad 08
			p.objetivo 
				strong Objetivo: 
				| Instala Windows Server y destaca las características de 'Active directory' y ejemplos
			.indicadores
				p.indica.primero.active Windows
				p.indica.segundo Linux
			.slide-so
				.so
					h2 Windows
				.so
					h2 Linux

		include include/_footer