doctype
html
	head
		include include/_head
	body#actividad
		include include/_header
		.container
			h1 Actividad 02
			p.objetivo 
				strong Objetivo: 
				| Desarrollar un programa para ver los servicios de Windows y Linux
			.indicadores
				p.indica.primero.active Windows
				p.indica.segundo Linux
			.slide-so
				.so
					h2 Windows
					p Este pequeño programa nos permite realizar la función del Administrador de Tareas en Windows, por lo que nos muestra los servicios que se encuentran en ejecución durante la ejecución del programa
					p Este es el código
					img(src="img/actividad_02/codigo.jpg")
					p El resultado es un programa en consola que muestra los servicios de la siguiente manera
					img(src="img/actividad_02/windows-programa.jpg")
					p Este programa nos ayuda, apatrte de mostrar los programas, también tiene la posibilidad de "matar" los procesos indicandole el ID del servicio
				.so
					h2 Linux
					p Las posibilidades en Linux son grandes, y nos permite facilitarnos tareas que en otro Sistema operativo nos costaría más trabajo
					p En las siguientes imágenes veremos la creación de un script en linux que nos permitirá ejecutar desde la terminal, haciendo correr los comandos y permitiendonos mostrar los servicios de Linux en ejecución
					p Lo primero es crear el script, para ello, creamos un archivo, le ponemos de nombre "script.sh" (muy importante la extensión, ya que nos permitirá ser leído por la terminal).
					img(src="img/actividad_02/script.png")
					p Acto seguido, procederemos a abrir la terminal y a dirigirnos a la carpeta en la cual se encuentra nuestro script, para poder correrlo.
					p Una vez ubicados desde la terminal en la ubicación del script, procederemos a escribir "bash script.sh", el cual nos ayudará a correr el script y con ellos los comandos que hayamos escrito
					img(src="img/actividad_02/correr-script.png")
					p Ya que lo hayamos escrito, damos enter y automáticamente correrá el Script. El resultado de ese script es que nos mostrará en la terminal los servicios que se encontrarán en ejecución, así como las diferentes opciones que nos permite hacer la instrucción
					img(src="img/actividad_02/top.png")
		include include/_footer