doctype
html
	head
		include include/_head
	body#actividad
		include include/_header
		.container
			h1 Actividad 04
			p.objetivo 
				strong Objetivo: 
				| Instalar Java y desarrollar un punto de venta básico que funcione en Windows y Linux
			.indicadores
				p.indica.primero.active Windows
				p.indica.segundo Linux
			.slide-so
				.so
					h2 Windows
				.so
					h2 Linux

		include include/_footer