doctype
html
	head
		include include/_head
	body#home
		include include/_header
		.info-materia
			h1 Definición
			p Los sistemas operativos son aquellos sistemas que mantienen a dos o más equipos unidos a través de algún medio de comunicación (físico o no), con el objetivo primordial de poder compartir los diferentes recursos hardware y software.
			p Al igual que un equipo no puede trabajar sin un sistema operativo, una red de equipos no puede funcionar sin un 
				span sistema operativo de red. 
				| Si no se dispone de ningún equipo que monte un sistema operativo de red, no existirá una gestión centralizada de recursos, por lo que la red se convertirá en lo que hemos denominado "grupo de trabajo".
			.cita
				a(href="https://www.mheducation.es/bcv/guide/capitulo/8448169468.pdf" target="_blank") Introducción a los sistemas operativos de red. Redes Windows. Pág. 1.
		.perfil-alumno
			h1 Datos del Alumno
			.avatar
				img(src="img/perfil/avatar.jpg")
			.info
				p
					strong Nombre: 
					| Josué Emmanuel Castillo Ponce
				p
					strong Carrera: 
					| Ingeniería en Computación
				p
					strong Materia: 
					| Seminario de Solución de problemas de Sistemas Operativos de Red
				p
					strong Código: 
					| 212560591
		.lista-actividades
			h1 Actividades
			.actividad
				h3 Actividad 01
					i.fas.fa-chevron-down
				.content
					p
						strong Objetivo: 
						| Instalar Windows y Linux desktop nativo y describir características sobresalientes de cada sistema operativo
					a(href="actividad_01.html") Ver actividad
			.actividad
				h3 Actividad 02
					i.fas.fa-chevron-down
				.content
					p
						strong Objetivo: 
						| Desarrollar un programa para ver los servicios de Windows y Linux
					a(href="actividad_02.html") Ver actividad
			.actividad
				h3 Actividad 03
					i.fas.fa-chevron-down
				.content
					p
						strong Objetivo: 
						| Instalar Libre Office en Windows y Linux
					a(href="actividad_03.html") Ver actividad
			.actividad
				h3 Actividad 04
					i.fas.fa-chevron-down
				.content
					p
						strong Objetivo: 
						| Instalar Java y desarrollar un punto de venta básico que funcione en Windows y Linux
					a(href="actividad_04.html") Ver actividad
			.actividad
				h3 Actividad 05
					i.fas.fa-chevron-down
				.content
					p
						strong Objetivo: 
						| Instalar Django con Python y Laravel y desarrollar una aplicación básica
					a(href="actividad_05.html") Ver actividad
			.actividad
				h3 Actividad 06
					i.fas.fa-chevron-down
				.content
					p
						strong Objetivo: 
						| Instalar Ruby on Rails y Ionic. Desarrollar una aplicación básica
					a(href="actividad_06.html") Ver actividad
			.actividad
				h3 Actividad 07
					i.fas.fa-chevron-down
				.content
					p
						strong Objetivo: 
						| Desarrollar un pequeño videojuego en Windows y Linux
					a(href="actividad_07.html") Ver actividad
			.actividad
				h3 Actividad 08
					i.fas.fa-chevron-down
				.content
					p
						strong Objetivo: 
						| Instalar Windows Server y destacar las características de Active Directory y ejemplos
					a(href="actividad_08.html") Ver actividad
			.actividad
				h3 Actividad 09
					i.fas.fa-chevron-down
				.content
					p
						strong Objetivo: 
						| Instalar minimo 10 usuarios y crear cuando menos 4 grupos de usuarios.
					a(href="actividad_09.html") Ver actividad
			.actividad
				h3 Actividad 10
					i.fas.fa-chevron-down
				.content
					p
						strong Objetivo: 
						| Instalar un sistema en Windows con django con bases de datos y uno en rubi on rails con bases de datos y asignar diferentes permisos de acceso a los grupos de usuarios en cada sistema.
					a(href="actividad_10.html") Ver actividad
			.actividad
				h3 Actividad 11
					i.fas.fa-chevron-down
				.content
					p
						strong Objetivo: 
						| Instalar linux server y configurar 10 usuarios, configurar 4 grupos de usuarios.
					a(href="actividad_11.html") Ver actividad
			.actividad
				h3 Actividad 12
					i.fas.fa-chevron-down
				.content
					p
						strong Objetivo: 
						| Instalar un sistema en ls con django con bases de datos y uno en rubi on rails con bases de datos y asignar diferentes permisos de acceso a los grupos de usuarios en cada sistema.
					a(href="actividad_12.html") Ver actividad
			.actividad
				h3 Actividad 13
					i.fas.fa-chevron-down
				.content
					p
						strong Objetivo: 
						| Instalar samba en windows y linux y configurar para compartir, carpetas, archivos e impresoras.
					a(href="actividad_13.html") Ver actividad
			

		include include/_footer